body{
    font-family: Arial;
    background: linear-gradient(135deg,#74ebd5,#acb6e5);
}

.container{
    width:800px;
    margin:60px auto;
    background:white;
    padding:30px;
    border-radius:15px;
    text-align:center;
}

input, select{
    padding:8px;
    margin:5px;
}

button{
    padding:8px 14px;
    background:#007bff;
    color:white;
    border:none;
    border-radius:6px;
    cursor:pointer;
}

.clear-btn{
    background:red;
}

table{
    width:100%;
    margin-top:20px;
    border-collapse: collapse;
}

th,td{
    border:1px solid #ddd;
    padding:10px;
}

/* Priority Colors */
.high{
    color:red;
    font-weight:bold;
}

.medium{
    color:yellow;
    font-weight:bold;
}

.low{
    color:green;
    font-weight:bold;
}

/* Completed */
.completed{
    text-decoration: line-through;
    color:gray;
}

/* Responsive Design */
@media (max-width:768px){
.container{ width:90%; }
input, select, button{ width:100%; }
}

@media (max-width:480px){
.container{ width:95%; }

table{
    display:block;
    overflow-x:auto;
    white-space:nowrap;
}
}